* {
    box-sizing: border-box;
    text-align: center;
    scroll-behavior: smooth;

}
/* body {
    display: grid;
    grid-template-rows: 30% 60% 10%;
} */
header {
    /* position:static; */
    /* position: absolute;
    background-image: url('../assets/PM-Holiday-Image1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    width: 100%; */
    width: 100%;
    height: auto;
    margin-bottom: 2.0em;
    align-items: center;
    text-align: center;
    /* display: flex; */

}
.hero {
    z-index: -99;
    width: 100%;
    height: auto;
    /* max-height: 100vh; */
    /* position:relative; */
    margin: 0px auto  0%;
}
.logo {
   width: 48%;
   height: auto;
}
.heroText {
    text-align: center;
    width: 80%;
    height: 50%;
    margin: 0px auto;
    position: absolute;
    z-index: 12;
    /* top: -25%; */
    /* right: 50%; */
    /* margin-top: -50vh;
    margin-bottom: -55hv; */
    /* flex: 2; */
    /* position:static; */
    /* order: 1; */
    top: 20%;
    left: 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
	
}
h1 {
    color: #be0f34;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 7.686676427525622vw;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    padding:  3.6603221083455346vw;
    border-radius: 1.0980966325036603vw;
}
.p1 {
    /* height: calc(auto - 1.875em) */
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 90%;
    display: block;
    margin-bottom: 5px;
    font-size:  3.676470588235294vw;
    line-height: 1.75;
    text-align: center;
    margin: auto;
    margin-bottom: 1.0em;
}
main {
    /* font-size: 4.558823524117645vw; */
    text-align: center;
    width: 100%;
}
.cardText{
    background-color: #be0f34;
    color: white;
    padding: 2%  5% 2%;
    font-family: 'Poppins', sans-serif;
    /* font-size:  3.676470588235294vw; */
    line-height: 1.75;
    /* font-weight: 600; */
    margin-top: -3px;
    /* height: 30; */
    /* margin-bottom: 30px; */
    display: grid;
    grid-template-rows: 30% 70%;


}
.mainGrid {
    /* display: grid;
    grid-auto-flow: row;
    text-align: center;
    grid-template-columns: 50% 50%;
    
    grid-template-rows: auto; */
    width: 100%;
    height: auto;
    padding-left:  30px ;
    padding-right: 30px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* grid-template-columns: calc(((680 / 1360) * 100%)) calc(((680 / 1360) * 100%));
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 0px; */
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(188px, 1fr)); */
    /* gap: 10px; */
    /* grid-area: 2/2/2/3; */
    /* grid-template-rows: auto */
}
@media only screen and (max-width: 467px){
    .mainGrid {
    display: grid;
    grid-template-rows: auto auto;
    gap: 30px;
    width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .left , .right {
        display: block;
        width: 100%;
        margin: auto;
        
    }
    footer {
        /* margin-top:  -8.25em; */
    }
}
.left , .right {
    width: calc(50% - 40px);
    margin: auto;
    /* display: grid;
    grid-template-rows: 60% 30% 10%; */
    
}
.innerGrid {
    display: grid;
    grid-template-rows: 70% 30%;
    margin-bottom:  0.9375em;
}

.image1 , .image2 {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}
h2 {
    font-size: 2.962962962962963vw;
    font-weight: 600;
}
.p2 {
    font-size:  2.5020850708924103vw;
    min-height: 27.09284627092846vh;
}
button {
    width: 16.471449487554906vw;
    /* height: 7.610350076103501vh; */
    padding: 2% 4% 2%;
    background-color: white;
    color: #be0f34;
    border: 0.3125em solid #be0f34;
    border-radius:   1.4641288433382138vw;
    font-family: 'Poppins', sans-serif;
    font-size:    1.7569546120058566vw;
    font-weight: 600;

}
footer {
    margin-top:  4.6875em;
    width: 100%;
    /* display: grid;
    grid-template-rows: 60% 40%; */


}
.footerSocials {
    background-color: #be0f34;
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing:  0.1em;
    padding-top: 1.875em;
    padding-bottom: 1.875em;
}
.footerSocials h3 {
    margin-bottom: 1.5625em;
    font-size: 1.610541727672035vw;
}
.footerSocials img {
    width:  5.124450951683748vw;
    /* height: auto; */
    margin-left: 1.4641288433382138vw;
}
.footerSocials :nth-child(2) {
    margin-left: 0px;
}
.footerCopyRights {
    width: 100%;
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
    padding-top: 1.875em;
    padding-bottom: 1.875em;
    font-size: 1.610541727672035vw;
}
.footerCopyRights :nth-child(1){
    margin-bottom: 0.5625em;
}
.footerCopyRights :nth-child(2){
    margin-bottom: 1.125em;
}
a {
    color: black;
}